@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 127, 29, 29;
    --background-end-rgb: 0, 0, 0;
}

@layer base {
    html {
      scroll-behavior: smooth;
      height: 100%;
      -webkit-tap-highlight-color: transparent;
    }
  
    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(135deg,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb)));
      min-height: 100vh;
      min-height: -webkit-fill-available;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    button {
      all: unset;
      appearance: none;
    }
  
    .pb-safe {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }